@import "../style.scss";

.container{
    display : flex;
    flex-direction: column;
    gap : 10vh;
    width : 100%;
    min-height : 100vh;
    padding : 5vw;

    &_form{
        display : none;
        justify-content: center;
        align-items: center;
        position : absolute;
        top : 0;
        left : 0;
        width : 100%;
        height : 100%;
        background-color: $noir-opacity;
        z-index : 5;

        &.active{
            display : flex;       
        }

        &-content{
            display : flex;
            flex-direction: column;
            gap : 2vh;
            background-color: $blanc;
            padding : 2.5vw;
            width : fit-content;
            height : fit-content;
            border-radius : 15px;

            .fieldset{
                display : flex;
                gap : 2vw;
                width : 30vw;
                border : 1px solid red;
            }
        }  
    }

    &_content{
        display : grid;
        grid-template-columns: repeat(5, 1fr);
        gap : 2vw;

        &-day{
            display : flex;
            flex-direction: column;
            gap : 5vh;

            &--title{
                background-color: $noir;
                color : $blanc;
                padding : 1vw;
                text-align : center;
                border-radius : 15px;
            }

            .note{
                display : flex;
                flex-direction: column;
                justify-content: space-between;
                gap : 7vh;
                padding : 2vw 1vw;
                border-radius : 15px;
                background-color: $blanc;
    
                &.blue {
                    border: 2px solid $bleu;
                }
                
                &.green {
                    border: 2px solid $vert;
                }
                
                &.orange {
                    border: 2px solid $orange;
                }
                
                &.pink {
                    border: 2px solid $rose;
                }
    
                &_content{
                    display : flex;
                    flex-direction: column;
                    gap : 2vh;
                    
                    &-title{
                        display : flex;
                        justify-content: space-between;
                    }
                }
    
                &_update{
                    display : flex;
                    gap : .5vw;
                    align-self: flex-end;
                } 
            }
        }
    }
}

