@import "../style.scss";

.container{
    position : relative;
    display : flex;
    gap : 1vw;
    width : 100%;
    height : 100vh;
    padding : 2.5vw;

    &_navigation{
        position : absolute;
        top : 0;
        left : 0;
    }

    &_content{
        display : grid;
        grid-template-columns: repeat(5, 1fr);
        gap : 1vw;
        width : 100%;
        height : 100%;

        &-day{
            display : flex;
            flex-direction: column;
            gap : 5vh;
            overflow : hidden;

            &.active{
                .container_content-day--title{
                    background-color: rgb(211, 151, 196);
                }
            }

            &--title{
                background-color: $noir;
                padding : 1vw;
                text-align : center;
                border-radius : 10px;
            }

            &--notes{
                display : flex;
                flex-direction: column;
                gap : 2.5vh;
                height : 100%;
                padding : 1vw;
                overflow-y : scroll;
                background-color: rgb(244, 244, 244);
                border-radius : 15px;

                &::-webkit-scrollbar {
                    display : none;
                }
            }

            &--button{
                padding : 0 1vw;
                .bouton{
                    width : 100%;
                }
            } 
        }
    }

    &_coucou{
        width : 20vw;
        height : 100%;
        background-color: rgb(244, 244, 244);

        &-title{
            background-color: $noir;
            padding : 1vw;
            text-align : center;
        }
    }

    &_add{
        display : flex;
        justify-content: flex-end;
    }
}