*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,html {
    box-sizing: border-box;  
    overflow-x : hidden;
    scroll-behavior: smooth;
}

button, fieldset, textarea{
    border: none;
    outline: none;
    background-color: transparent;
}

hr{
    outline: none;
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
    color : inherit;
    font-family: inherit;
}