.bouton{
    position : relative;
    display : flex;
    justify-content: center;
    align-items: center;
    width : fit-content;
    height : fit-content;
    padding : 1vh 1.5vw;
    border-radius: 100vmax; 
    border : 1px solid $noir;
    background-color: transparent;
    font-family : "Calibri";
    font-size : 1vw;
    line-height : 1;
    cursor : pointer;
    overflow: hidden;
    transition : .3s ease;
    z-index : 1;

    &:hover{
        color : $blanc;   
        background-color: $noir;
    }
}

.input{
    padding : 1vh 1.5vw;
}