.bouton{
    position : relative;
    display : flex;
    justify-content: center;
    align-items: center;
    width : fit-content;
    height : fit-content;
    padding : 1vh 1.5vw;
    border-radius : 7px;
    background-color: transparent;
    font-size : 1vw;
    line-height : 1;
    cursor : pointer;
    overflow: hidden;
    transition : .3s ease;
    z-index : 1;

    &:hover{
        color : $blanc;   
        background-color: $noir;
    }

    &_min{
        height : fit-content;
        padding : .5vw .8vw;
        pointer-events: none;
    }

    &_icon{
        width : 2.2vw;
        padding : 0;
        border : 1px solid transparent;

        &:hover{ 
            background-color: transparent;
            border : 1px solid $noir;
        }

        img{
            width : 1.2vw;
            height : 1.2vw;
        }
    }

    &_people{
        height : fit-content;
        &.selected{
            background-color: $noir;
            color : $blanc
        }
    }
}

.input{
    padding : 1vh .5vw;
    width : 100%;

    &_textarea{
        height : 15vh;
        resize: none;
    }
}