p, a, button{
    font-size: 1vw;
    font-weight: normal;
    line-height : 1;
    text-align : left;
    color : $noir;
    margin: 0;
    padding : 0;   
}

h1{
    font-size : 2vw;
}

h2{
    line-height : 1;
    font-size: 1.3vw;
    font-weight : bold;
    color : $blanc;
}

h3{
    line-height : 1;
    font-size: 1.1vw;
    font-weight : bold;
    color : $noir;
}