$noir : #373636;
$blanc : white;

$vert : rgb(179, 207, 179);
$bleu : rgb(182, 182, 226);
$rose : rgb(238, 195, 211);
$orange : rgb(242, 173, 94);

$noir-opacity: rgba($noir, 0.9);
$noir-middle-opacity: rgba($noir, 0.5);


.gestion-de-projet {
    border: 2px solid $bleu;

    .bouton{
        background-color: $bleu;
        color : $blanc;
        border-color : transparent;
    }
}

.production {
    border: 2px solid $vert;

    .bouton{
        background-color: $vert;
        color : $blanc;
        border-color : transparent;
    }
}

.developpement {
    border: 2px solid $orange;

    .bouton{
        background-color: $orange;
        color : $blanc;
        border-color : transparent;
    }
}

.design {
    border: 2px solid $rose;

    .bouton{
        background-color: $rose;
        color : $blanc;
        border-color : transparent;
    }
}