$noir : #373636;
$blanc : white;

$violet : #d4ceff;
$bleu : #cbe4ff;
$jaune : #fae8cc;
$rose : #fbc7c6;

$violetDark : #3317a5;
$bleuDark : #6295cc;
$jauneDark : #e68837;
$roseDark : #b3332f;

$violetLight : #e2dcfc;
$bleuLight : #dbebfe;
$jauneLight : #fff0da;
$roseLight : #fadfde;

$violetVeryLight : #ebe8f9;

$noir-opacity: rgba($noir, 0.9);
$noir-middle-opacity: rgba($noir, 0.5);

$highBg : #feeaea;
$highTxt : #ff9494;
$mediumBg : #fef8e8;
$mediumTxt : #feb98d;
$lowBg : #eefff8;
$lowTxt : #99efca;






.high {
    background-color : $highBg;
    color : $highTxt;
    border : 1px solid $highTxt;
}

.medium {
    background-color: $mediumBg;
    color : $mediumTxt;
    border : 1px solid $mediumTxt;
}

.low {
    background-color: $lowBg;
    color : $lowTxt;
    border : 1px solid $lowTxt;
}