@import "../style.scss";

.form{
    position : absolute;
    top : 0;
    left : 0;
    display : none;
    justify-content: center;
    align-items: center;
    width : 100%;
    height : 100vh;
    background-color: $noir-opacity;
    z-index : 5;

    &.active{
        display : flex;    
    }

    &_content{
        display : flex;
        align-items: stretch;
        gap : 2.5vw;
        background-color: $blanc;
        padding : 2.5vw;
        width : 50vw;
        min-height : 70vh;
        border-radius : 15px;

        &-left{       
            position : relative;   
            display : flex;
            flex-direction: column;
            justify-content: space-between;
            width : calc(100% - 13vw);
            flex-grow : 1;
            padding : 1.5vw;
            border-radius : 15px;    
            z-index : 1;
            background-color: var(--light-color);

            .fieldset{
                display : flex;
                gap : 2vw;
            
                input, textarea, select{
                    border-radius : 5px;
                    background-color: $blanc;
                    outline: none;
                    border : 1px solid var(--dark-color);
                    color : var(--dark-color);

                    &:focus{
                        outline : 1px solid var(--dark-color);
                    }
                }
    
                &_people{
                    flex-wrap: wrap;
                    justify-content: space-between;
                    gap : .5vw;
                }
            }
        }


        &-right{       
            display : flex;
            flex-direction: column;
            gap : 1.5vw;
            flex-grow : 1;  
            width : 13vw;

            &--close{
                display : flex;
                justify-content: flex-end;
                

                .closeButton{
                    position : relative;
                    width : 2vw;
                    height : 2vw;
                    cursor : pointer;

                    &::after{
                        position : absolute;
                        content : "";
                        width : 100%;
                        height : 2px;
                        transform : rotate(45deg);
                        background-color: var(--dark-color);
                    }

                    &::before{
                        position : absolute;
                        content : "";
                        width : 100%;
                        height : 2px;
                        transform : rotate(-45deg);
                        background-color: var(--dark-color);
                    }
                }
            }

            &--links{
                display : flex;
                flex-direction: column;
                justify-content: flex-end;
                align-items: center;
                gap : 2vh;
                width : 100%;
                flex-grow : 1;
                border-radius : 15px;
                padding : 1.5vw;
                background-color: var(--light-color);
            }

            .bouton{
                display : flex;
                justify-content: space-between;
                gap : 1vw;
                width : 100%;
                border: 1px dashed var(--dark-color);
                color : var(--dark-color);
                background-color: var(--light-color);
                
                svg{       
                    width : 1.2vw;
                    height : 1.2vw;

                    path{
                        stroke : var(--dark-color);
                        fill : var(--dark-color);
                    }
                }

                &.duplicate{
                    svg{
                        path{
                            fill : none;
                        }
                    }
                }

                &:hover{
                    background-color: var(--dark-color);
                    color : var(--light-color);

                    svg{                      
                        path{
                            stroke : var(--light-color);
                            fill : var(--light-color);
                        }
                    }

                    &.duplicate{
                        svg{
                            path{
                                fill : none;
                            }
                        }
                    }
                }
            }
        }
    }  
}