@import "../style.scss";

.noteDetail{
    position : absolute;
    top : 0;
    left : 0;
    display : flex;
    justify-content: center;
    align-items: center;
    width : 100%;
    height : 100vh;
    background-color: $noir-opacity;
    z-index : 50;

    &_container{
        display : flex;
        align-items: stretch;
        gap : 2.5vw;
        background-color: $blanc;
        padding : 2.5vw;
        width : 50vw;
        min-height : 70vh;
        border-radius : 15px;

        &-left{          
            display : flex;
            flex-direction: column;
            justify-content: space-between;
            gap : 5vh;
            width : 100%;
            flex-grow : 1;
            padding : 1.5vw;
            border-radius : 15px;    

            .tag{
                display : flex;

                &_icon{
                    width : 2.2vw;
                    padding : 0;
                }

                .bouton{
                    &:nth-of-type(2){
                        margin-left : -.2vw;
                    }
                }
            }

            .txt{
                display : flex;
                flex-direction: column;
                gap : 2.5vh;
                height : 100%;

                h3{
                    font-size : 2vw;
                }
            }

            .persons{
                display : flex;
    
                img{
                    width : 2.5vw;
                    height : 2.5vw;
                    border-radius : 100vmax;
                    object-fit: cover;
                    border : 1px solid $noir;
                    &:not(:first-child){
                        margin-left : -15px;
                    }
                }
            }
        }

        &-right{       
            display : flex;
            flex-direction: column;
            gap : 1.5vw;
            flex-grow : 1;   

            &--close{
                display : flex;
                justify-content: flex-end;
                

                .closeButton{
                    position : relative;
                    width : 2vw;
                    height : 2vw;
                    cursor : pointer;

                    &::after{
                        position : absolute;
                        content : "";
                        width : 100%;
                        height : 2px;
                        transform : rotate(45deg);
                        background-color: $noir;
                    }

                    &::before{
                        position : absolute;
                        content : "";
                        width : 100%;
                        height : 2px;
                        transform : rotate(-45deg);
                        background-color: $noir;
                    }
                }
            }

            &--links{
                display : flex;
                flex-direction: column;
                justify-content: flex-end;
                align-items: center;
                gap : 2vh;
                width : 100%;
                flex-grow : 1;
                border-radius : 15px;
                padding : 1.5vw;
            }

            .bouton{
                width : 100%;
            }
        }
    }

    &.design{
        .noteDetail_container{
            &-left{
                background-color: $violetLight;
                .txt{
                    h3{
                        color : $violetDark;
                    }
                }
            }
            &-right{
                &--close{
                    .closeButton{
                        &::after, &::before{
                            background-color: $violetDark;
                        }
                    }
                }
                &--links{
                    background-color: $violetLight;
                    .bouton{
                        border: 1px dashed $violetDark;
                        color : $violetDark;
                        background-color: $violetLight;
                        &:hover{
                            background-color: $violetDark;
                            color : $violetLight;
                        }
                    }
                }
                
            }
        }
    }

    &.frontend{
        .noteDetail_container{
            &-left{
                background-color: $bleuLight;
                .txt{
                    h3{
                        color : $bleuDark;
                    }
                }
            }
            &-right{
                &--close{
                    .closeButton{
                        &::after, &::before{
                            background-color: $bleuDark;
                        }
                    }
                }
                &--links{
                    background-color: $bleuLight;
                    .bouton{
                        border: 1px dashed $bleuDark;
                        color : $bleuDark;
                        background-color: $bleuLight;
                        &:hover{
                            background-color: $bleuDark;
                            color : $bleuLight;
                        }
                    }
                }
                
            }
        }
    }

    &.backend{
        .noteDetail_container{
            &-left{
                background-color: $jauneLight;
                .txt{
                    h3{
                        color : $jauneDark;
                    }
                }
            }
            &-right{
                &--close{
                    .closeButton{
                        &::after, &::before{
                            background-color: $jauneDark;
                        }
                    }
                }
                &--links{
                    background-color: $jauneLight;
                    .bouton{
                        border: 1px dashed $jauneDark;
                        color : $jauneDark;
                        background-color: $jauneLight;
                        &:hover{
                            background-color: $jauneDark;
                            color : $jauneLight;
                        }
                    }
                }
                
            }
        }
    }

    &.testing{
        .noteDetail_container{
            &-left{
                background-color: $roseLight;
                .txt{
                    h3{
                        color : $roseDark;
                    }
                }
            }
            &-right{
                &--close{
                    .closeButton{
                        &::after, &::before{
                            background-color: $roseDark;
                        }
                    }
                }
                &--links{
                    background-color: $roseLight;
                    .bouton{
                        border: 1px dashed $roseDark;
                        color : $roseDark;
                        background-color: $roseLight;
                        &:hover{
                            background-color: $roseDark;
                            color : $roseLight;
                        }
                    }
                }
                
            }
        }
    }
}