@import "../style.scss";

.note{
    display : flex;
    flex-direction: column;
    justify-content: space-between;
    padding : 1.5vw;
    border-radius : 15px;
    background-color: $blanc;
    cursor: pointer;
    min-height: calc(100% / 2.5 - 2.5vh);
    height : calc(100% / 2.5 - 2.5vh);
    overflow : hidden; 

    &_content{
        display : flex;
        flex-direction: column;
        justify-content: space-between;
        gap : 1.5vh;
        height : 100%;

        &-top{
            
            .title{
                overflow: hidden;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                line-clamp: 2; 
                -webkit-box-orient: vertical;
            }
     
 
            .description{
                overflow: hidden;
                display: -webkit-box;
                -webkit-line-clamp: 3;
                line-clamp: 3; 
                -webkit-box-orient: vertical;
            }
        }

        &-middle{

            .date{
                width : fit-content;
                padding : .5vh 1vw;
                border-radius : 100vmax;
                background-color: rgb(240, 240, 241);
                color : $noir;
            }
        }
    

        &-bottom{
            display : flex;
            justify-content: space-between;
            align-items: flex-start;
            
            .equipe{
                display : flex;

                img{
                    width : 2.2vw;
                    height : 2.2vw;
                    border-radius : 100vmax;
                    object-fit: cover;
                    border : 2px solid $blanc;
                    &:not(:first-child){
                        margin-left : -10px;
                    }
                }
            }

            .tag{
                padding : .5vw 1vw;
                font-weight : bold;
                border-radius : 7px;
            }
        }
    } 

    // &.design{
    //     .note_content{
    //         &-middle{
    //             .date{
    //                 background-color: $violet;
    //                 color : $violetDark;
    //             }
    //         }
    //     }
    // }
}