@import "../style.scss";

.bloc{
    display : flex;
    flex-direction: column;
    gap : 2.5vh;
    width : calc(100% / 4);
    height: 100%;
    padding : 1vw;
    border-radius : 15px;

    &_title{

        h2{
            color : $noir;
        }
    }   

    &_content{
        display : flex;
        flex-direction: column;
        gap : 2.5vh;
        height : 100%;
        overflow-y: auto;
        padding-right : 10px;
        

        &::-webkit-scrollbar {
            width: 3px;
        }
        
        &::-webkit-scrollbar-track {
            box-shadow: inset 0 0 5px $noir-middle-opacity; 
            border-radius: 100vmax;
        }
        
        &::-webkit-scrollbar-thumb {
            background: $noir; 
            border-radius: 100vmax;
        }
    }

    .bouton{
        width : 100%;
    }

    &.design{
        background-color: $rose;

        .bloc_title{
            h2{
                color : $roseDark;
            }
        }

        .bloc_content{
            &::-webkit-scrollbar-track {
                box-shadow: inset 0 0 5px $roseLight; 
            }
            
            &::-webkit-scrollbar-thumb {
                background: $roseDark; 
            }
        }

        .bouton{
            border: 1px dashed $roseDark;
            color : $roseDark;
            background-color: $roseLight;
        }
    }

    &.frontend{
        background-color: $bleu;
        .bloc_title{
            h2{
                color : $bleuDark;
            }
        }
        .bloc_content{
            &::-webkit-scrollbar-track {
                box-shadow: inset 0 0 5px $bleuLight; 
            }
            
            &::-webkit-scrollbar-thumb {
                background: $bleuDark; 
            }
        }
        .bouton{
            border: 1px dashed $bleuDark;
            color : $bleuDark;
            background-color: $bleuLight;
        }
    }

    &.backend{
        background-color: $jaune;
        .bloc_title{
            h2{
                color : $jauneDark;
            }
        }
        .bloc_content{
            &::-webkit-scrollbar-track {
                box-shadow: inset 0 0 5px $jauneLight; 
            }
            
            &::-webkit-scrollbar-thumb {
                background: $jauneDark; 
            }
        }
        .bouton{
            border: 1px dashed $jauneDark;
            color : $jauneDark;
            background-color: $jauneLight;
        }
    }

    &.testing{
        background-color : $violet;
        .bloc_title{
            h2{
                color : $violetDark;
            }
        }
        .bloc_content{
            &::-webkit-scrollbar-track {
                box-shadow: inset 0 0 5px $violetLight; 
            }
            
            &::-webkit-scrollbar-thumb {
                background: $violetDark; 
            }
        }
        .bouton{
            border: 1px dashed $violetDark;
            color : $violetDark;
            background-color: $violetLight;
        }
    }
}