@import "../style.scss";

.note{
    display : flex;
    flex-direction: column;
    justify-content: space-between;
    padding : 1vw;
    border-radius : 15px;
    background-color: $blanc;
    cursor: pointer;
    min-height: calc(100% / 3 - 2.5vh);
    height : calc(100% / 3 - 2.5vh);
    overflow : hidden; 

    &_content{
        display : flex;
        flex-direction: column;
        justify-content: space-between;
        gap : 3vh;
        height : 100%;
       
        &-up{
            display : flex;
            justify-content: space-between;

            .tag{
                display : flex;

                &_icon{
                    display : flex;
                    justify-content: center;
                    align-items: center;
                    width : 2.2vw;
                    padding : 0;

                    img{
                        width : 1vw;
                    }
                }

                .bouton{
                    margin-left : -.2vw;
                }
            }
        }

        &-middle{
           display : flex;
           flex-direction: column;
           gap : .5vh;
           height : 100%;
           overflow : hidden;    
    

           .description{
                overflow: hidden;
                display: -webkit-box;
                -webkit-line-clamp: 3;
                line-clamp: 3; 
                -webkit-box-orient: vertical;
           }
        }

        &-people{
            display : flex;

            img{
                width : 2.2vw;
                height : 2.2vw;
                border-radius : 100vmax;
                object-fit: cover;
                border : 1px solid $noir;
                &:not(:first-child){
                    margin-left : -15px;
                }
            }
        }    
    } 
}