@import "../style.scss";

.note{
    display : flex;
    flex-direction: column;
    justify-content: space-between;
    gap : 7vh;
    padding : 2vw 1vw 1vw 1vw;
    border-radius : 15px;
    background-color: $blanc;
    cursor: pointer;
    min-height: calc(100% / 3 - 2.5vh);
    overflow : hidden;

    &.blue {
        border: 2px solid $bleu;
    }
    
    &.green {
        border: 2px solid $vert;
    }
    
    &.orange {
        border: 2px solid $orange;
    }
    
    &.pink {
        border: 2px solid $rose;
    }

    &_content{
        display : flex;
        flex-direction: column;
        gap : 2vh;
        
        &-title{
            display : flex;
            justify-content: space-between;
        }

        &-people{
            display : flex;

            img{
                width : 2.5vw;
                height : 2.5vw;
                border-radius : 100vmax;
                object-fit: cover;
                border : 1px solid $noir;
                &:not(:first-child){
                    margin-left : -15px;
                }
            }
        }    
    }

    &_update{
        display : flex;
        gap : .5vw;
        align-self: flex-end;
    } 
}