@import "../style.scss";

.noteDetail{
    position : absolute;
    top : 0;
    left : 0;
    display : none;
    justify-content: center;
    align-items: center;
    width : 100%;
    height : 100vh;
    background-color: $noir-opacity;
    z-index : 50;

    &.active{
        display : flex;
    }

    &_container{
        display : flex;
        align-items: stretch;
        gap : 2.5vw;
        background-color: $blanc;
        padding : 2.5vw;
        width : 50vw;
        min-height : 70vh;
        border-radius : 15px;

        &-left{       
            position : relative;   
            display : flex;
            flex-direction: column;
            justify-content: space-between;
            gap : 5vh;
            width : 100%;
            flex-grow : 1;
            padding : 1.5vw;
            border-radius : 15px;    

            

            .txt{
                display : flex;
                flex-direction: column;
                gap : 3vh;
                height : 100%;

                h3{
                    font-size : 2vw;
                }

                .date{
                    width : fit-content;
                    padding : .5vh 1vw;
                    border-radius : 100vmax;
                    background-color: $blanc;
                    color : $noir;
                }
            }

            .tag-container{
                position : absolute;
                bottom : 0;
                right : 0;
                background-color: $blanc;
                padding : 1vw 0 1vw 1vw;
                border-radius : 10px 0 0 0;
       

                .tag{
                    padding : .5vw 1.5vw;
                    font-weight : bold;
                    border-radius : 7px;
                }
            }



            .equipe{
                display : flex;

                img{
                    width : 3vw;
                    height : 3vw;
                    border-radius : 100vmax;
                    object-fit: cover;
                    border-width : 2px;
                    border-style : solid;

                    &:not(:first-child){
                        margin-left : -10px;
                    }
                }
            }
            
        }

        &-right{       
            display : flex;
            flex-direction: column;
            gap : 1.5vw;
            flex-grow : 1;   

            &--close{
                display : flex;
                justify-content: flex-end;
                

                .closeButton{
                    position : relative;
                    width : 2vw;
                    height : 2vw;
                    cursor : pointer;

                    &::after{
                        position : absolute;
                        content : "";
                        width : 100%;
                        height : 2px;
                        transform : rotate(45deg);
                        background-color: $noir;
                    }

                    &::before{
                        position : absolute;
                        content : "";
                        width : 100%;
                        height : 2px;
                        transform : rotate(-45deg);
                        background-color: $noir;
                    }
                }
            }

            &--links{
                display : flex;
                flex-direction: column;
                justify-content: flex-end;
                align-items: center;
                gap : 2vh;
                width : 100%;
                flex-grow : 1;
                border-radius : 15px;
                padding : 1.5vw;
            }

            .bouton{
                display : flex;
                justify-content: space-between;
                gap : 1vw;
                width : 100%;

                svg{
                    width : 1.2vw;
                    height : 1.2vw;
                }
            }
        }
    }

    &.design{
        .noteDetail_container{
            &-left{
                background-color: $violetLight;
                .txt{
                    h3{
                        color : $violetDark;
                    }
                }
                
                .equipe{
                    img{
                        border-color : $violetLight;
                    }
                }
                
                
            }
            &-right{
                &--close{
                    .closeButton{
                        &::after, &::before{
                            background-color: $violetDark;
                        }
                    }
                }
                &--links{
                    background-color: $violetLight;
                    .bouton{
                        border: 1px dashed $violetDark;
                        color : $violetDark;
                        background-color: $violetLight;
                        
                        svg{                      
                            path{
                                stroke : $violetDark;
                                fill : $violetDark;
                            }
                        }

                        &.duplicate{
                            svg{
                                path{
                                    fill : none;
                                }
                            }
                        }

                        &:hover{
                            background-color: $violetDark;
                            color : $violetLight;

                            svg{                      
                                path{
                                    stroke : $violetLight;
                                    fill : $violetLight;
                                }
                            }

                            &.duplicate{
                                svg{
                                    path{
                                        fill : none;
                                    }
                                }
                            }
                        }
                    }
                }
                
            }
        }
    }

    &.frontend{
        .noteDetail_container{
            &-left{
                background-color: $bleuLight;
                .txt{
                    h3{
                        color : $bleuDark;
                    }
                }
             
                .equipe{
                    img{
                        border-color : $bleuLight;
                    }
                }
                
            }
            &-right{
                &--close{
                    .closeButton{
                        &::after, &::before{
                            background-color: $bleuDark;
                        }
                    }
                }
                &--links{
                    background-color: $bleuLight;
                    .bouton{
                        border: 1px dashed $bleuDark;
                        color : $bleuDark;
                        background-color: $bleuLight;

                        svg{                      
                            path{
                                stroke : $bleuDark;
                                fill : $bleuDark;
                            }
                        }

                        &.duplicate{
                            svg{
                                path{
                                    fill : none;
                                }
                            }
                        }

                        &:hover{
                            background-color: $bleuDark;
                            color : $bleuLight;

                            svg{                      
                                path{
                                    stroke : $bleuLight;
                                    fill : $bleuLight;
                                }
                            }

                            &.duplicate{
                                svg{
                                    path{
                                        fill : none;
                                    }
                                }
                            }
                        }
                    }
                }
                
            }
        }
    }

    &.backend{
        .noteDetail_container{
            &-left{
                background-color: $jauneLight;
                .txt{
                    h3{
                        color : $jauneDark;
                    }
                }
              
                .equipe{
                    img{
                        border-color : $jauneLight;
                    }
                }
                
            }
            &-right{
                &--close{
                    .closeButton{
                        &::after, &::before{
                            background-color: $jauneDark;
                        }
                    }
                }
                &--links{
                    background-color: $jauneLight;
                    .bouton{
                        border: 1px dashed $jauneDark;
                        color : $jauneDark;
                        background-color: $jauneLight;

                        svg{                      
                            path{
                                stroke : $jauneDark;
                                fill : $jauneDark;
                            }
                        }

                        &.duplicate{
                            svg{
                                path{
                                    fill : none;
                                }
                            }
                        }

                        &:hover{
                            background-color: $jauneDark;
                            color : $jauneLight;

                            svg{                      
                                path{
                                    stroke : $jauneLight;
                                    fill : $jauneLight;
                                }
                            }

                            &.duplicate{
                                svg{
                                    path{
                                        fill : none;
                                    }
                                }
                            }
                        }
                    }
                }
                
            }
        }
    }

    &.testing{
        .noteDetail_container{
            &-left{
                background-color: $roseLight;
                .txt{
                    h3{
                        color : $roseDark;
                    }
                }
             
                .equipe{
                    img{
                        border-color : $roseLight;
                    }
                }
                
            }
            &-right{
                &--close{
                    .closeButton{
                        &::after, &::before{
                            background-color: $roseDark;
                        }
                    }
                }
                &--links{
                    background-color: $roseLight;
                    .bouton{
                        border: 1px dashed $roseDark;
                        color : $roseDark;
                        background-color: $roseLight;

                        svg{                      
                            path{
                                stroke : $roseDark;
                                fill : $roseDark;
                            }
                        }

                        &.duplicate{
                            svg{
                                path{
                                    fill : none;
                                }
                            }
                        }

                        &:hover{
                            background-color: $roseDark;
                            color : $roseLight;

                            svg{                      
                                path{
                                    stroke : $roseLight;
                                    fill : $roseLight;
                                }
                            }

                            &.duplicate{
                                svg{
                                    path{
                                        fill : none;
                                    }
                                }
                            }
                        }
                    }
                }
                
            }
        }
    }
}